.gt-workspace {
    position: fixed;
    left: 0;
    right: 600px;
    top: 34px;
    bottom: 0;
}

.gt-shader-editor {
    position: fixed;
    width: 600px;
    top: 450px;
    bottom: 0;
    right: 0;
}

.gt-viewer {
    position: fixed;
    right: 0;
    width: 600px;
    height: 450px;
    top: 0;
}

.gt-node-base {
    fill: #dddddd;
    opacity: 0.9;
}

.gt-port {
    fill: #606060;
}

.gt-port-label {

}

.gt-binding {
    stroke-width: 6px;
    stroke: #3A96C7;
    stroke-linecap: round;
}