.gt-workspace {
    position: fixed;
    left: 0;
    right: 600px;
    top: 34px;
    bottom: 0;
}

.gt-shader-editor {
    position: fixed;
    width: 600px;
    top: 450px;
    bottom: 0;
    right: 0;
}

.gt-viewer {
    position: fixed;
    right: 0;
    width: 600px;
    height: 450px;
    top: 0;
}

.gt-node-base {
    fill: #dddddd;
    stroke: #cccccc;
    stroke-width: 4;
    opacity: 0.9;
    cursor: move;
}

.gt-node-highlighted {
    stroke: #22aaaa;
    stroke-width: 4;
}

.gt-port {
    stroke: #606060;
    stroke-width: 2;
    fill: #ffffff;
    cursor: pointer;
}

.gt-port-label {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.gt-binding {
    stroke-width: 6px;
    stroke: #3A96C7;
    stroke-linecap: round;
}